
.category-container {
    border : 1px solid #dfdfdf;
    margin: auto;
    width: 30%
    
   
}


 ul{
        list-style-type: none
    }

table, tr, td, th
{
    border: 1px solid #efefef;
    border-collapse: collapse
}