
.category-container {
    border : 1px solid #dfdfdf;
    margin: auto;
    width: 30%
    
   
}

h1
{
    text-align: center
}

.inputForm
{
    width:50%;
    height: 30px

}

.formEntry
{
    margin: 10px;
}
ul{
     list-style-type: none
}

table, tr, td, th
{
    border: 1px solid #efefef;
    border-collapse: collapse
}

.nomargin
{
    margin: 0;
}